@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 기본 모드 배경 및 텍스트 */
body {
  background-color: white;
  color: black;
}

/* ✅ 다크모드일 때 적용되는 배경 및 텍스트 */
html.dark body {
  background-color: #121212;
  color: white;
}
